einops==0.6.1
hydra-core==1.3.2
librosa==0.10.1
matplotlib==3.7.2
numpy==1.23.5
numpy==1.24.3
pandas==2.0.3
pesq==0.0.4
pystoi==0.3.3
scikit_learn==1.3.0
soundfile==0.12.1
torch==2.0.1
torchaudio==2.0.2
tqdm==4.66.1